=rounded-corners(!amount)
  border-radius = !amount
  -moz-border-radius = !amount
  -webkit-border-radius = !amount

.spacer
  display: inline-block
  margin: 0 40px

.card
  +rounded-corners(5px)
  height: 100px
  width: 71.5px
  background-color: #FFE
  border: 1px solid black
  display: inline-block
  position: relative
  margin-right: -40px
  .link
    display: block 
    height: 100%
    width: 100%
  .top_val
    position: absolute
    top: 2%
    left: 5%
  .bot_val
    position: absolute
    text-align: right
    bottom: 2%
    right: 5%
  .suit
    position: absolute
    top: 25%
    left: 28%
    font-size: 200%

.back
  +rounded-corners(5px)
  height: 100px
  width: 71.5px
  background-color: #FFF
  border: 1px solid black
  display: inline-block
  position: relative
  margin-right: -40px
  .pattern
    +rounded-corners(5px)
    position: relative
    top: 5px
    left: 5px
    height: 80px
    width: 51.5px
    
    padding: 5px
    background-color: #0CC